*.iml
.gradle
/local.properties
/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/caches
/.idea/codeStyles
/.idea/libraries
/.idea/assetWizardSettings.xml
/.idea/groovyc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/sbt.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.floo
.flooignore
